
@{
    ViewBag.Title = "Index";
}


<div class="container mt-3">
    <div class="row offset-3 col-6">
    <div class="m-auto display-4">Item Types</div>
        <table id="tblItems" class="table table-striped text-center">
            <thead>
                <tr class="table-info">
                    <td class="font-weight-bold">Code</td>
                    <td class="font-weight-bold">Name</td>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(() => {
        $.ajax({
            url: '/ItemTypes',
            method: 'GET',
            success: (response) => {
                $.each(response, (ind,val) => {
                    $('#tblItems').append(`
                        <tr>
                            <td>${val.Code}</td>
                            <td>${val.Name}</td>
                        </tr>
                    `)
                })
            },
            error: (error) => {
                console.log(error);
            }
        })
    })
</script>