
@{
    ViewBag.Title = "Index";
}


<div class="container mt-3">
    <div class="row">
        <button class="btn btn-primary m-auto" data-toggle="modal" data-target="#insertModal">Create New</button>
    </div>
    <div class="row offset-2 col-8">
        <div class="text-left display-4 m-auto">Item Types</div>
        <table id="tblItems" class="table table-striped text-center mt-3">
            <thead>
                <tr class="table-info">
                    <td class="font-weight-bold">
                        <button id="sortByCode" class="btn btn-block btn-warning">
                            <p class="pr-3 d-inline">Code</p><span class="fa fa-arrow-up pr-1"></span><span class="fa fa-arrow-down"></span>
                        </button>
                        <div class="input-group-append">
                            <input id="txtSearchCode" type="text" class="form-control" placeholder="Search Code" style="border-bottom-right-radius:0; border-top-right-radius:0" />
                            <button id="searchCode" class="fa fa-search btn btn-light"></button>
                        </div>
                    </td>
                    <td class="font-weight-bold">
                        <button id="sortByName" class="btn btn-block btn-warning mr-3"><p class="pr-3 d-inline">Name</p><span class="fa fa-arrow-up pr-1"></span><span class="fa fa-arrow-down"></span></button>
                        <div class="input-group-append">
                            <input id="txtSearchName" type="text" class="form-control" placeholder="Search Name" style="border-bottom-right-radius:0; border-top-right-radius:0" />
                            <button id="searchName" class="fa fa-search btn btn-light"></button>
                        </div>
                    </td>
                    <td colspan="2" class="font-weight-bold">Actions</td>
                </tr>
            </thead>
            <tbody id="tblBody"></tbody>
        </table>
    </div>
</div>

<div id="insertModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Create Item Type</div>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="itemId" />
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" id="code" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnInsert" class="btn btn-info" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Edit Item Type</div>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="idToEdit" type="hidden" />
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" id="codeToEdit" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="nameToEdit" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnEditItem" class="btn btn-info" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Are you sure you want to delete this Item Type?</div>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <input id="idToDelete" type="hidden" />
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" id="codeToDelete" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="nameToDelete" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnDeleteItem" class="btn btn-info" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    const currentRow = null;

    $(document).ready(() => {

        //Gets the ItemTypes after loading the page
        //Get
        function getItemTypes() {
            $.ajax({
                url: '/ItemTypes',
                method: 'GET',
                success: (response) => {
                    $.each(response, (ind, val) => {
                        $('#tblItems').append(`
                            <tr>
                                <td>${val.Code}</td>
                                <td>${val.Name}</td>
                                <td>
                                    <button type="button" onclick="editItem(this)" class="btn btn-dark" data-toggle="modal" data-target="#editModal" data-id="${val.Id}">Edit</button>
                                </td>
                                <td>
                                    <button type="button" onclick="deleteItem(this)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="${val.Id}">Delete</button>
                                </td>
                            </tr>
                        `)
                    })
                },
                error: (error) => {
                    console.log(error);
                }
            })
        }

        getItemTypes();

        // Inserts an ItemType
        //Post
        $('#btnInsert').click(() => {
            const code = $('#code').val();
            const name = $('#name').val();
            const id = $('#itemId').val();
            $.ajax({
                url: '/ItemTypes',
                method: 'POST',
                data: { Code: code, Name: name },
                success: () => {
                    $('#tblItems').append(`
                        <tr>
                            <td>${code}</td>
                            <td>${name}</td>
                            <td>
                                <button type="button" onclick="editItem(this)" class="btn btn-dark" data-toggle="modal" data-target="#editModal" data-id="${id}">Edit</button>
                            </td>
                            <td>
                                <button type="button" onclick="deleteItem(this)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="${id}">Delete</button>
                            </td>
                        </tr>
                    `)
                    $('#code').val('');
                    $('#name').val('');
                }
            })
        })

        //Searches ItemTypes by Code
        //Get/search:int
        $('#searchCode').click(() => {
            const code = $('#txtSearchCode').val();
            $.ajax({
                url: '/ItemTypes/searchByCode',
                method: 'GET',
                data: { search: code },
                success: (response) => {
                    $('#tblItems').find("tr:gt(0)").remove();
                    $.each(response, (ind, val) => {
                        $('#tblItems').append(`
                        <tr>
                            <td>${val.Code}</td>
                            <td>${val.Name}</td>
                            <td>
                                <button type="button" onclick="editItem(this)" class="btn btn-dark" data-toggle="modal" data-target="#editModal" data-id="${val.Id}">Edit</button>
                            </td>
                            <td>
                                <button type="button" onclick="deleteItem(this)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="${val.Id}">Delete</button>
                            </td>
                        </tr>
                    `)
                    })
                },
                error: (error) => {
                    console.log(error);
                }
            })
        })

        //Searches ItemTypes by Name
        //Get/search:string
        $('#searchName').click(() => {
            const code = $('#txtSearchName').val();
            $.ajax({
                url: '/ItemTypes/searchByName',
                method: 'GET',
                data: { search: code },
                success: (response) => {
                    $('#tblItems').find("tr:gt(0)").remove();
                    $.each(response, (ind, val) => {
                        $('#tblItems').append(`
                        <tr>
                            <td>${val.Code}</td>
                            <td>${val.Name}</td>
                            <td>
                                <button type="button" onclick="editItem(this)" class="btn btn-dark" data-toggle="modal" data-target="#editModal" data-id="${val.Id}">Edit</button>
                            </td>
                            <td>
                                <button type="button" onclick="deleteItem(this)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="${val.Id}">Delete</button>
                            </td>
                        </tr>
                    `)
                    })
                },
                error: (error) => {
                    console.log(error);
                }
            })
        })

        //Sorts ItemTypes by Code
        //GET/orderByCode
        let sort = 'asc'
        $("#sortByCode").click(() => {
            $.ajax({
                url: `/ItemTypes/orderByCode?sort=${sort}`,
                method: 'GET',
                success: (response) => {
                    $('#tblItems').find("tr:gt(0)").remove();
                    $.each(response, (ind, val) => {
                        $('#tblItems').append(`
                            <tr>
                                <td>${val.Code}</td>
                                <td>${val.Name}</td>
                                <td>
                                    <button type="button" onclick="editItem(this)" class="btn btn-dark" data-toggle="modal" data-target="#editModal" data-id="${val.Id}">Edit</button>
                                </td>
                                <td>
                                    <button type="button" onclick="deleteItem(this)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="${val.Id}">Delete</button>
                                </td>
                            </tr>
                        `)
                    })
                    if (sort === 'asc') {
                        sort = 'desc';
                    }
                    else {
                        sort = 'asc';
                    }
                }
            })
        })

        //Edits the ItemType
        //PUT/id
        $('#btnEditItem').click(() => {
            const code = $('#codeToEdit').val();
            const name = $('#nameToEdit').val();
            const id = $('#idToEdit').val();
            $.ajax({
                url: '/ItemTypes/' + id,
                method: 'PUT',
                data: { Code: code, Name: name },
                success: () => {
                    $('#tblItems').find("tr:gt(0)").remove();
                    getItemTypes();
                },
                error: (err) => {
                    console.log(err);
                }
            })

        })

        //Deletes the ItemType
        //DELETE/id
        $('#btnDeleteItem').click(() => {
            const id = $('#idToDelete').val();
            $.ajax({
                url: '/ItemTypes/' + id,
                method: 'DELETE',
                success: () => {
                    $('#tblItems').find("tr:gt(0)").remove();
                    getItemTypes();
                },
                error: (err) => {
                    console.log(err);
                }
            })
        })
    });

    //Gets the ItemType to edit
    //GET/id:number
    function editItem(val) {
        const itemTypeId = $(val).attr('data-id');
        $.ajax({
            url: '/ItemTypes/findById',
            method: 'GET',
            data: { id: itemTypeId },
            success: response => {
                $('#codeToEdit').val(response.Code);
                $('#nameToEdit').val(response.Name);
                $('#idToEdit').val(response.Id);
            },
            error: err => {
                console.log(err);
            }
        })
    }

    //Gets the ItemType to delete
    //GET/id:number
    function deleteItem(val) {
        const itemTypeId = $(val).attr('data-id');
        $.ajax({
            url: '/ItemTypes/findById',
            method: 'GET',
            data: { id: itemTypeId },
            success: response => {
                $('#codeToDelete').val(response.Code);
                $('#nameToDelete').val(response.Name);
                $('#idToDelete').val(response.Id);
            },
            error: err => {
                console.log(err);
            }
        })
    }

    //Help function for regenerating table with data

    function BuildTable() {
        $('#tblItems').find("tr:gt(0)").remove();
        $.each(response, (ind, val) => {
            $('#tblItems').append(`
                <tr>
                    <td>${val.Code}</td>
                    <td>${val.Name}</td>
                    <td>
                        <button type="button" onclick="editItem(this)" class="btn btn-dark" data-toggle="modal" data-target="#editModal" data-id="${val.Id}">Edit</button>
                    </td>
                    <td>
                        <button type="button" onclick="deleteItem(this)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="${val.Id}">Delete</button>
                    </td>
                </tr>
            `)
        })
    }
</script>